<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adopt A Pet</title>
    <style>
      body {
        font-family: Helvetica, sans-serif;
        text-align: center;
      }
      .profile-img {
        display: block;
        margin: 25px auto 0;
        width: 150px;
        height: 150px;
        object-fit: contain;
      }
      .professional-statement {
        margin-top: 20px;
      }
      .bio {
        text-align: justify;
        margin: 20px auto;
        max-width: 600px;
      }
      nav {
        background-color: #fcfcfc;
        padding: 10px 0;
      }
      nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
      }
      nav ul li {
        display: inline-block;
      }
      nav ul li a {
        text-decoration: none;
        color: black;
        padding: 10px 20px;
        border: 1px solid black;
      }
      nav ul li a:hover {
        background-color: #555;
      }
    </style>
    <script src="script.js"></script>
  </head>
  <body>
    <header>
      <h1>Adopt A Pet</h1>
      <div id="datetime"></div>

    </header>

    <nav>
      <ul>
        <li><a href="pets">Browse Available Pets</a></li>
        <li><a href="find">Find a dog/cat</a></li>
        <li><a href="giveaway">Have a pet to give away</a></li>
      </ul>
    </nav>

    <section id="content">
      <h2>Welcome to Adopt A Pet</h2>
      <p>
        This is your first stop on the journey to finding a new furry friend!
      </p>
    </section>
  </body>
</html>
