<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse Available Pets</title>
  </head>
  <body>
    <section id="content">
      <h2>Available Pets for Adoption</h2>
      <div class="pet">
        <img src="huskyInNature.jpg" alt="Pet Name">
        <h3>Winty</h3>
        <p><strong>Breed:</strong> Siberian Husky</p>
        <p><strong>Age:</strong> 3 years old</p>
        <p>
          <strong>Description:</strong> Is an excellent working sled dog in the
          working conditions, with his fur keeping him warm all day long.
        </p>
        <button type="button">Interested</button>
      </div>
    </section>

    <script src="script7.js"></script>
  </body>
</html>
